.filter-dialog{
  width: 318px !important;

  .body-d{
    border-top: 1px solid @grey-300;
    padding: 0 !important;
  }
}

.mfilter-content{
  max-height: 100%;
  overflow-y: auto;
  padding: 0 15px 15px;
}

.select-w-icon{
  position: relative;
  padding: 0 8px;
  max-width: 100% !important;

  .current-icon{
    position: absolute;
    bottom: 11px;
    left: 230px;
    fill: @grey-500 !important;
  }
}

.mselect-field{
  max-width: 100% !important;
  padding: 0 8px;
}

.filter-header{
  padding: 25px 0 0 8px !important;
  margin-bottom: 0px !important;
  line-height: normal !important;
}
