.discount-b{
  position: absolute;
  right: 15px;
  bottom: 12px;
  min-width: 30px !important;

  span{
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 0 !important;
  }

  button{
    height: 30px !important;
    line-height: 30px !important;
  }

  div:nth-child(2){
    height: 30px !important;
  }
}

.details-header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid @grey-400;
  margin: 40px 0 10px;


  .title{
    flex-grow: 1;
    font-size: 20px;
    // font-weight: 500;
    cursor: default;
    color: @grey-600;
  }

  button{
    margin: 0 -12px 0 22px !important
  }


  .edit{
    fill: @color-accent !important;
    margin-right: 0 !important;
  }

  .add{
    fill: @green-a400 !important;
    margin-right: 0 !important;
  }

  .camera-alt{
    fill: @color-accent !important;
    margin-right: 0 !important;
  }

}


.sell-fab{
  position: absolute;
  top: 180px;
  right: 15px;
  z-index: @z-index-high;
  width: 60px !important;
  height: 60px !important;

  button{
    background-color: @green-a400 !important;
    width: 60px !important;
    height: 60px !important;
  }

  svg{
    height: 60px !important;
    width: 28px !important;
  }
}

.appear-sell-fab{
  transform: scale(0,0) rotate(90deg) !important;
  transition: none !important;
}

.appear-sell-fab.appear-sell-fab-active {
  transform: scale(1,1) rotate(0deg)!important;
  transform-origin: center;
  transition-timing-function: @animation-curve-default !important;
  transition-delay: 350ms !important;
  transition-duration: @animation-duration !important;
  transition-property: transform !important;
}

.enter-sell-fab{
  transform: scale(0,0) rotate(90deg)!important;
  transition: none !important;
}

.enter-sell-fab.enter-sell-fab-active {
  transform: scale(1,1) rotate(0deg)!important;
  transform-origin: center;
  transition-timing-function: @animation-curve-default !important;
  transition-delay: 350ms !important;
  transition-duration: @animation-duration !important;
  transition-property: transform !important;
}

.leave-sell-fab {
  transform: scale(1,1) rotate(0deg) !important;
}

.leave-sell-fab.leave-sell-fab-active {
  transform: scale(0,0) rotate(90deg) !important;
  transform-origin: center;
  transition-timing-function: @animation-curve-default !important;
  transition-delay: 0 !important;
  transition-duration: @animation-duration !important;
  transition-property: transform !important;
}


.row-item{
  overflow: hidden;
  height: 0;
  transition-timing-function: @animation-curve-default;
  transition-delay: 0;
  transition-duration: @animation-duration;
  transition-property: height;

  .remove{
    fill: @red-500 !important;
    margin-right: 0 !important;
  }

  .remove-b{
    position: absolute !important;
    top: 5px;
    right: 15px;
    z-index: @z-index-high;
  }
}
