.mselect-sort{
  position: relative;
  padding: 0 8px;
  max-width: 100% !important;

  .current-icon{
    cursor: pointer;
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 19px;
  }

  button{
    display: none !important;
  }
}


.raised-bsvg{
  // position: absolute;
  left: 0;
  top: 6px;
}
