.mtab-product-info{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .mtab-info{
    margin: 0 0 10px;
    flex-grow: 1;
  }
}


.sell-show-subtitle{
  margin-top: 15px;
  color: @grey-500;
  font-weight: 500;
}
