.report-card{
  .shadow-1dp();
  border-radius: 3px;
  background-color: @white;
  height: 400px;
  width: 100%;
  padding: 16px;
  margin-top: 16px;


}

.report-top{

  display: flex;
  border-bottom: 2px solid @grey-300;
  padding: 0 15px 10px;
  margin: 0 -16px;
  align-items: center;

  .title{
    flex-grow: 1;
    font-size: 24px;
    font-weight: 400;
    color: @grey-600;
  }

  .range-date{
    position: relative;
    width: 150px;
    padding: 0 8px;
  }
}
