.show-card{
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.74);
  z-index: @z-index-highest;
  overflow: hidden;
}

.show-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding-top: 68px;
  padding-bottom: 10px;
  top: 0;
  height: 276px;
  width: 100%;
  background-color: @color-primary;
  z-index: -1;
  max-width: 900px;

}

.show-avatar{
  width: 140px !important;
  height: 140px !important;
  font-size: 60px !important;
  margin: 0 0 5px !important;
}

.show-title{
  text-transform: capitalize;
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.show-sub{
  color: rgba(255,255,255, .8);
  font-weight: 500;
}

.show-main{
  position: relative;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  padding-top: 276px;
  background-color: transparent;
  max-width: 900px;

  .content{
    background-color: @grey-200;
    min-height: ~"calc(100vh - 276px)";
    height: 1000px;
  }

}

.show-toolbar{
  width: 100%;
  max-width: 900px;
}

.show-bar-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-grow: 1;
  margin-left: -5px;
  font-weight: 500;
  color: rgba(255,255,255,0);

  @media(min-width:  @layout-breakpoint-sm){
    font-size: 22px;
  }
}

.show-fab{
  position: absolute;
  top: 276px + 48 - 30;
  bottom: inherit;
}



.appear-quick-fade{
  background-color: rgba(0, 0, 0, 0);
  transition: none;

  .show-header, .show-toolbar{
    transition: none;
    transform: translate(0, -100%);
  }

  .show-main{
    transition: none;
    transform: translate(0, 100%);
  }

}

.appear-quick-fade.appear-quick-fade-active {
  background-color: rgba(0,0,0,.74);
  transition-timing-function: @animation-curve-default ;
  transition-delay: 0;
  transition-duration: @animation-duration ;
  transition-property: background-color;

  .show-header, .show-toolbar{
    transform: translate(0, 0);
    transition-timing-function: @animation-curve-default ;
    transition-delay: 0;
    transition-duration: @animation-duration ;
    transition-property: transform ;
  }

  .show-main{
    transform: translate(0, 0);
    transition-timing-function: @animation-curve-default ;
    transition-delay: 0;
    transition-duration: @animation-duration ;
    transition-property: transform ;
  }
}

.enter-quick-fade{
  background-color: rgba(0, 0, 0, 0);

  .show-header, .show-toolbar{
    transition: none;
    transform: translate(0, -100%);
  }

  .show-main{
    transition: none;
    transform: translate(0, 100%);
  }
}

.enter-quick-fade.enter-quick-fade-active {
  background-color: rgba(0,0,0,.74);
  transition-timing-function: @animation-curve-default ;
  transition-delay: 0;
  transition-duration: @animation-duration ;
  transition-property: background-color;

  .show-header, .show-toolbar{
    transform: translate(0, 0);
    transition-timing-function: @animation-curve-default ;
    transition-delay: 0;
    transition-duration: @animation-duration ;
    transition-property: transform ;
  }

  .show-main{
    transform: translate(0, 0);
    transition-timing-function: @animation-curve-default ;
    transition-delay: 0;
    transition-duration: @animation-duration ;
    transition-property: transform ;
  }
}

.leave-quick-fade {
  background-color: rgba(0,0,0,.74);

  .show-header, .show-toolbar{
    transition: none;
    transform: translate(0, 0);
  }

  .show-main{
    transition: none;
    transform: translate(0, 0);
  }
}

.leave-quick-fade.leave-quick-fade-active {
  background-color: rgba(0, 0, 0, 0);
  transition-timing-function: @animation-curve-default ;
  transition-delay: 0;
  transition-duration: @animation-duration ;
  transition-property: background-color;

  .show-header, .show-toolbar{
    transform: translate(0, -100%);
    transition-timing-function: @animation-curve-default ;
    transition-delay: 0;
    transition-duration: @animation-duration ;
    transition-property: transform ;
  }

  .show-main{
    transform: translate(0, 100%);
    transition-timing-function: @animation-curve-default ;
    transition-delay: 0;
    transition-duration: @animation-duration ;
    transition-property: transform ;
  }
}
