.contact-button{
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 10px;
  color: @grey-400;
  background-color: @white;
  border-bottom: 1px solid @grey-300;
  cursor: text;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;

  .title{
    align-self: flex-end !important;
    padding-bottom: 1px !important;
  }

  &.highlight{
    border: none;
    color: @color-accent;
    cursor: default;
  }

  button{
    margin: 0 -12px -10px 0 !important
  }


  svg{
    fill: @green-a400 !important;
    margin-right: 0 !important;
  }

  span{
    text-transform: none !important;
    font-size: 16px !important;
    padding: 0 !important;
    font-weight: 400 !important;
  }
}

.form-row{
  display: flex;
  z-index: @z-index-low;
  align-items: center;
  overflow: hidden;

  &.address-form{
    height: 350px
  }

  &.telephone-form{
    height: 72px
  }

  &.low{
    align-items: flex-end;
  }

  .address-inputs{
    align-self: flex-start;
  }

  button{
    margin-right: 4px !important;
  }

  svg{
    fill: @red-500 !important;
  }
}

.enter-address{
  height: 0;
  overflow: hidden;
}

.enter-address.enter-address-active {
  height: 350px;
  overflow: hidden;
  transition-timing-function: @animation-curve-default;
  transition-duration: @animation-duration;
  transition-property: height;
}

.leave-address {
  height: 350px;
  overflow: hidden;
}

.leave-address.leave-address-active {
  overflow: hidden;
  height: 0;
  transition-timing-function: @animation-curve-default;
  transition-duration: @animation-duration;
  transition-property: height;
}

.enter-telephone{
  height: 0;
  overflow: hidden;
}

.enter-telephone.enter-telephone-active {
  height: 72px;
  overflow: hidden;
  transition-timing-function: @animation-curve-default;
  transition-duration: @animation-duration;
  transition-property: height;
}

.leave-telephone {
  height: 72px;
  overflow: hidden;
}

.leave-telephone.leave-telephone-active {
  overflow: hidden;
  height: 0;
  transition-timing-function: @animation-curve-default;
  transition-duration: @animation-duration;
  transition-property: height;
}


.sm-p-right{
  padding-right: 5px;
}

.sm-p-left{
  padding-left: 5px;
}
