.mselector-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  height: 100%;
  width: 100%;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media(min-width: @layout-breakpoint-sm){
    width: 55%
  }
}

.appear-selector-list{
  .mselector-list{
    transform: translate(0, -50px);
    opacity: 0 ;
  }
}

.appear-selector-list.appear-selector-list-active {
  .mselector-list{
    opacity: 1 ;
    transform: translate(0, 0);
    transition-timing-function: @animation-curve-default ;
    transition-delay: @animation-delay ;
    transition-duration: @animation-duration ;
    transition-property: opacity transform ;
  }
}

.enter-selector-list{
  .mselector-list{
    transform: translate(0, -50px);
    opacity: 0 ;
  }
}

.enter-selector-list.enter-selector-list-active {
  .mselector-list{
    transform: translate(0, 0);
    opacity: 1 ;
    transition-timing-function: @animation-curve-default ;
    transition-delay: @animation-delay ;
    transition-duration: @animation-duration ;
    transition-property: opacity transform ;
  }
}

.leave-selector-list {
  .mselector-list{
    opacity: 1 ;
    transform: translate(0, 0px);
  }
}

.leave-selector-list.leave-selector-list-active {
  .mselector-list{
    opacity: 0 ;
    transform: translate(0, -50px);
    transition-timing-function: @animation-curve-default ;
    transition-delay: @animation-delay ;
    transition-duration: @animation-duration ;
    transition-property: opacity transform ;
  }
}

.mselector-list{
  .shadow-3dp();
  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  padding-top: 58px;

  @media(min-width: @layout-breakpoint-sm){
    width: 75%;
    height: 80%;
    padding-top: 64px;
  }
}

.list-header{
  .shadow-2dp();
  position: absolute;
  top: 0;
  width: 100%;
  height: 58px;
  z-index: @z-index-high;
  display: flex;
  align-items: center;
  padding: 0 5px;
  background-color: @color-primary;


  @media(min-width: @layout-breakpoint-sm){
    height: 64px;
  }
}

.ltitle{
  flex-grow: 1;
  color: @white;
  font-size: 20px;
  font-weight: 400;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 25px;
}

.lheader-b{
  flex-shrink: 0;

  @media(min-width: @layout-breakpoint-sm){
    width: 58px !important;
    height: 58px !important;
  }

  svg{
    fill: @white !important;

    @media(min-width: @layout-breakpoint-sm){
      width: 28px !important;
      height: 28px !important;
    }
  }
}

.sitem{
  display: flex;
  height: 80px;
  max-height: 80px;
  padding: 0 16px;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  // border-bottom: 1px solid @color-divider;
}

.schecker{
  flex-shrink: 0;
  max-width: 24px !important;
  margin: 0 5px 0 5px;
}

.slinfo{
  flex-grow: 1;
  // flex-basis: 0;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 25px;

  span{
    display: block;
    font-size: 13px;
    color: @grey-500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.slinfo-2{
  font-size: 14px;
  color: @grey-800;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 25px;
}

.slinfo-resp{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;

  div{
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    min-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 25px;
  }

  span{
    display: block;
    font-size: 13px;
    color: @grey-500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.slhigh{
  display: flex;
  margin-right: 16px;
  align-items: center;
  font-size: 13px;
  color: @grey-500;

  &.on{
    color: @deep-purple-500;

    svg{
      fill: @deep-purple-500 !important;
      width: 16px !important;
      height: 16px !important;
    }
  }

  svg{
    margin: 0 0 0px 2px;
    fill: @grey-500 !important;
    width: 14px !important;
    height: 14px !important;
  }

}
