
.right-drawer{
  .shadow-6dp();
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition-delay: 0s;
  transition-timing-function: @animation-curve-default;
  transition-duration: @animation-duration;
  transition-property: transform;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: @z-index-highest;
  background-color: @white;

  @media(min-width: @layout-breakpoint-sm){
    width: 45%
  }

  &.open{
    transform: translate(0, 0);
  }

  &:not(.open){
    box-shadow: none;
    transform: translate(100%, 0);
  }
}

.overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.541176);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: opacity;
  transition-delay: 0s;
  transition-timing-function: @animation-curve-default;
  transition-duration: @animation-duration;
  transition-property: opacity;
  z-index: @z-index-higher;
  pointer-events: auto;

  .open{
    opacity: 1;
    transform: translate(0, 0);
  }

  &:not(.open){
    transition: transform 0ms @animation-curve-default @animation-duration, opacity @animation-duration @animation-curve-default 0ms;
    opacity: 0;
    transform: translate(-100%, 0);
  }
}
