
.main-panel{
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  // background-color: @grey-200;

  &.window{
    overflow: auto;
    position: relative;
  }
}

.panel{
  position: relative;
  height: 100vh;
  overflow: scroll;
  padding: 0 8px 50px;

  &.window{
    height: auto;
    min-height: 100vh;
    overflow: inherit;
  }
}


.root{
  padding-left: 0;

  @media(min-width: @layout-breakpoint-sm){
    padding-left: 256px;
  }
}

.mheader-title{
  font-size: 20px;
  font-weight: 400;
  color: @white;
  display: flex;
  align-items: center;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: scale(2) translate(15%, 54px);
  will-change: transform;

  @media(min-width: @layout-breakpoint-sm){
    font-size: 22px;
  }

  &.large{
    transform: scale(2) translate(40%, 54px);
  }

}


.toolbar{
  position: absolute;
  transform: translateZ(0px);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  will-change: transform;
  z-index: @z-index-higher;
  background-color: @color-primary;

  &.window{
    position: fixed;
  }

}


.big-header{
  background-color: @color-primary;
  height: 212px;
  width: ~"calc(100% + 16px)";
  margin: 0 -8px 20px;
}
