
.main-panel{
  position: absolute;
  width: 100%;
  min-height: 100%;
  // background-color: @grey-200;

  .header{
    height: 212px;
    width: 100%;
    background-color: @color-primary;
  }

  .panel{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.root{
  padding-left: 0;

  @media(min-width: @layout-breakpoint-sm){
    padding-left: 256px;
  }
}
