.left-drawer{

  .upper{
    width: 100%;
    height: 148px;
    border-bottom: 1px solid @color-divider;
    background-color: @color-primary;
  }

  .mid{
    width: 100%;
    padding: 0 0 96px;
  }

  .menu-item{
    font-size: 14px !important;
    font-weight: 500 !important;
    // text-transform: uppercase;
    color: @color-accent;

    a{
      text-transform: capitalize;
      text-decoration: none;
      color: inherit;
      display: block;
    }


    svg{
      fill: @color-accent !important;
      transition-timing-function: @animation-curve-default ;
      transition-delay: @animation-delay ;
      transition-duration: @animation-duration ;
      transition-property: transform;
    }
  }

  .sub-title{
    color: rgba(0, 0, 0, .3) !important;
    font-size: 13px !important;
    font-weight: 400 !important;
  }

  .sub-menu{

    a{
      padding-left: 20px;
    }
  }

  .sub-menu-expandable{
    max-height: 0;
    height: auto;
    overflow: hidden;

    transition-timing-function: @animation-curve-default ;
    transition-delay: @animation-delay ;
    transition-duration: @animation-duration ;
    transition-property: max-height;

    &.open{
      max-height: 528px
    }
  }
}
