.title-info{
  margin-bottom: 50px;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid @grey-400;

  span{
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: @grey-500;
  }
}

.yield-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .yield-info{
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 100px;
    min-width: 100px;
    align-self: center;
    margin-bottom: 10px;
    span{
      font-size: 12px;
      color: @grey-500;
      display: block;
    }
  }
}
