@import '../colors';
@import '../globals';
@import '../mixins';
@import '../commons';

@import '../left_drawer/LeftDrawer';
@import '../right_drawer/RightDrawer';
@import '../main_panel/MainPanel';
@import '../../models/contact_info/ContactInfo';
@import '../textarea/TextArea';
@import '../textfield/MTextField';
@import '../../models/amount_changes/AmountChanges';
@import '../../models/sells/new/SellsNew';
@import '../../models/yields/selector_items/YieldInvItem';
@import '../ltoggler/LToggler';
@import "../selector_button/SelectorButton";
@import '../form_action_bar/FormActionBar';


.fab{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: @z-index-high;

  @media(min-width:  @layout-breakpoint-sm){
    bottom: 35px;
    right: 35px;
  }

  button{
    // .shadow-3dp() !important;
    width: 56px !important;
    height: 56px !important;

    @media(min-width:  @layout-breakpoint-sm){
      width: 60px !important;
      height: 60px !important;
    }
  }

  .icon{
    height: 56px !important;

    @media(min-width:  @layout-breakpoint-sm){
      height: 60px !important;
    }
  }
}

.menu-button{
  width: 58px !important;
  height: 58px !important;
  margin: 5px !important;

  svg{
    fill: @white !important;
    width: 28px !important;
    height: 28px !important;
  }
}

.input-lg{
  font-size: 23px !important;
  font-weight: 400 !important;
  line-height: 31px !important;
  height: 74px !important;

  span{
    font-size: 23px !important;
  }
}

.col-flex{
  display: flex;
  align-items: center;
  position: relative;
}

.row-flex{
  display: flex;
  align-items: flex-end;
}


.avatar-button{
  width: 86px !important;
  height: 86px !important;
  background-color: @teal-100 !important;
  border-radius: 50% !important;
  flex-shrink: 0;
  margin: 25px 20px 0 0 !important;

  svg{
    width: 35px !important;
    height: 35px !important;
    fill: @white !important;

    @media(max-width: @layout-breakpoint-xxs){
      width: 30px !important;
      height: 30px !important;
    }
  }

  @media(max-width: @layout-breakpoint-xxs){
    width: 73px !important;
    height: 73px !important;
  }
}


.appear-fab{
  transform: scale(0,0) rotate(90deg) !important;
  transition: none !important;
}

.appear-fab.appear-fab-active {
  transform: scale(1,1) rotate(0deg)!important;
  transform-origin: center;
  transition-timing-function: @animation-curve-default !important;
  transition-delay: @animation-delay !important;
  transition-duration: @animation-duration !important;
  transition-property: transform !important;
}

.enter-fab{
  transform: scale(0,0) rotate(90deg)!important;
  transition: none !important;
}

.enter-fab.enter-fab-active {
  transform: scale(1,1) rotate(0deg)!important;
  transform-origin: center;
  transition-timing-function: @animation-curve-default !important;
  transition-delay: @animation-delay !important;
  transition-duration: @animation-duration !important;
  transition-property: transform !important;
}

.leave-fab {
  transform: scale(1,1) rotate(0deg) !important;
}

.leave-fab.leave-fab-active {
  transform: scale(0,0) rotate(90deg) !important;
  transform-origin: center;
  transition-timing-function: @animation-curve-default !important;
  transition-delay: @animation-delay !important;
  transition-duration: @animation-duration !important;
  transition-property: transform !important;
}

.track-row{
  transition-timing-function: @animation-curve-default !important;
  transition-duration: @animation-duration !important;
  transition-property: height !important;
  margin-top: 5px;
  overflow: hidden;
}



.title-row{
  margin-top: 35px;
  padding-top: 35px;
  font-size: 14px;
  font-weight: 400;
  color: @color-primary;
  border-top: 1px solid @grey-300;
}

.row-divider{
  border-top: 1px solid @grey-400;
  margin: 25px -10px;
}
